

  @font-face {
    font-family: 'myFamily'; 
    src: url('./Alibaba-PuHuiTi-Medium.otf');
  }
  
.cover{
  width: 100%;
  height: 100vh;
  background: url(./background.png) no-repeat bottom  center;
  background-size:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 5vh;
}
/* 
.SignIn-body p{
  text-align: center;
  margin: 0;
  color: rgb(241, 234, 234);
  font-size: 18px;
  
}


.loadpart{
  width: 21rem;
}
.SignIn-requestbutton{
  margin-top: 1rem;

  font-size: 1.3rem;
  padding: 0.5rem;
  width: 300px;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  height: auto;
}
.SignIn-Input input{
  background: transparent;
  border:0;
  border-bottom: 1px solid #d9d9d9;
  padding-left: 4rem !important;
}
.SignIn-Input i{
  color: rgb(78, 77, 77);
}
.SignIn-Input span{
  font-size: 1.5rem;
  color: rgb(241, 234, 234) !important;
}
.SignIn-Input input:-webkit-autofill {
  background:#fff !important;
  box-shadow:0 0 0 60px #eee inset;
  -webkit-text-fill-color: #878787;
  }

  #signbody .ant-card-head{
       background: #01bfb8;
       border-radius: 5px 5px  0  0;
       font-size: 20px;
       color:white;
  }


  #signbody .ant-card{
    border-radius: 8px 8px 0 0;
    height: 360px;
    width: 420px;
  }

  #signbody .ant-card-bordered{
    border:none;
  }

  #signbody  .ant-btn{
    background-color: #01bfb8 ;
  color: white ;
  border:none;
  }

  #signbody .ant-card-body{
    border: 1px solid #e8e8e8;
    border-top: none;
    box-shadow: -2px 2px 5px #e2e7e7;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
  }


  #signbody .ant-card-head-title{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'myFamily';
    font-size: 30px;
  }
 */

 #signbody .logo{
  font-size: 36px;
  font-family: 'myFamily';
  color:#0099cb;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 #signbody .loginmain{
  width: 800px;
  height: 440px;
  margin:0 auto;
  border-radius: 10px;
  margin-top: 40px;
  box-shadow: -2px 5px 20px #e2e7e7;
  background: #fafcff;
 }

 #signbody .loginl{
   width: 55%;
   height: 440px;
   border-radius: 10px 0  0  10px;
   background: url(./loginl.png) no-repeat  center center;
   float: left;
 }


 #signbody .loginr{
  width:45%;
  float: right;
  padding: 40px;
}

#signbody .logintitle{
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  display: inline-block;
  border-bottom: 2px solid #0099cb;
}

#signbody  .bombtn{
  text-align: center;
  margin-top: 40px;
  color:#666666;
  font-size: 14px;
}

.ant-input-affix-wrapper .ant-input:not(:first-child){
    padding-left: 50px;
  }

  #signbody  .SignIn-Input{
      height: 40px;
  }

@media screen and (max-width: 600px) {
    #signbody .title{
        font-size: 30px;
    }
}
@media screen and (max-width: 400px) {
    #signbody .title{
        font-size: 25px;
    }
}
@media screen and (max-width: 330px) {
    #signbody .title{
        font-size: 20px;
    }
}
@media screen and (max-width: 270px) {
    #signbody .title{
        font-size: 16px;
    }
}
@media screen and (max-width: 210px) {
    #signbody .title{
        font-size: 12px;
    }
}